define module{
    module_name     Graphite-Perfdata
    module_type     graphite_perfdata
    host            localhost
    port            2003
    templates_path  /var/lib/shinken/share/templates/graphite/
}
